<section class="location">
  <div class="location__map">
    <iframe #googleM
      width="100%"
      height="100%"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBsbYymWa7bB1hKUdOesKUoIPoDLRPtYmM
      &q=tea+top+in+atlanta" allowfullscreen>
    </iframe>
  </div>

  <div class="location__location-textbox">
    <h2 class="header-font header-font--black">Locations</h2>

    <div class="location__addresses">
      <div class="location-block">
        <p class="location-block__title">
          Doraville
        </p>
        <p>6035 Peachtree Rd Suite A-117</p>
        <p>Doraville, GA 30360</p>
        <p>(678) 813-5185</p>
      </div>

      <div class="location-block">
        <p class="location-block__title">
          San Jose
        </p>
        <p>6158 Bollinger Rd</p>
        <p>San Jose, CA 95129</p>
        <p>(408) 996-7899</p>
      </div>

      <div class="location-block">
        <p class="location-block__title">
          Milpitas
        </p>
        <p>82 Ranch Dr</p>
        <p>Milpitas CA 95035</p>
        <p>(408) 941-9330</p>
      </div>

      <div class="location-block">
        <p class="location-block__title">
          Newark
        </p>
        <p>39269 Cedar Blvd</p>
        <p>Newark, CA 94560</p>
        <p>(510) 894-2832</p>
      </div>
    </div>

    <div class="location__hours">

      <div class="location-block">
        <p class="location-block__title">Doraville Hours</p>
        <p>
          Open 7 days a week: <br/>
          11:30 AM - 10:00 PM
        </p>
      </div>

      <div class="location-block">
        <p class="location-block__title">San Jose Hours</p>
        <p>
          Open 7 days a week: <br/>
          11:30 AM - 10:00 PM
        </p>
      </div>

      <div class="location-block">
        <p class="location-block__title">Milpitas Hours</p>
        <p>
          Open 7 days a week: <br/>
          Monday - Thursday: 11:30 AM - 9:30 PM <br/>
          Friday  - Saturday : 11:30 AM - 10:00 PM <br/>
          Sunday : 11:30 AM - 6:30 PM
        </p>
      </div>

      <div class="location-block">
        <p class="location-block__title">Newark Hours</p>
        <p>
          Open 7 days a week: <br/>
          Monday - Thursday: 11:30 AM - 9:30 PM <br/>
          Friday  - Sunday  : 11:30 AM - 10:00 PM
        </p>
      </div>

    </div>
  </div>
</section>