@import './variables';
@import './mixins';

@font-face {
    font-family: "Signika";
    src: url("/src/assets/fonts/Signika-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Signika";
    src: url("/src/assets/fonts/Signika-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

.header-font {
    font-size: 6rem;
    font-weight: 600;
    font-family: $primary-font;

    @include respond(tab-port){
        font-size: 3.5rem;
    }

    &--black {
        color: $color-text-regular;
    }

    &--orange {
        color: $color-primary;
    }

    &--white {
        color: #fff;
    }
}