//The palette for Tea Top needs to be fresh! They use mostly orange and green and white
$color-primary: rgb(252, 137, 44);
$color-primary-light-1: rgb(255, 166, 0);
$color-primary-light-2: rgb(255, 220, 167);
$color-secondary-light: #90ffb5;
$color-secondary: #56f18a;
$color-secondary-dark: rgb(99, 164, 108);
$color-accent: #ff0147;
$color-yellowish: #ffc401;

$color-text-primary: #fefefe;
$color-text-regular: #333;

//FONT FAMILY
$primary-font: 'Arial', sans-serif;
$primary-2-font: 'Ubuntu', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$primary-3-font: 'Signika', sans-serif;
