//The palette for Tea Top needs to be fresh! They use mostly orange and green and white
$color-primary: rgb(252, 137, 44);
$color-primary-light-1: rgb(255, 166, 0);
$color-primary-light-2: rgb(255, 220, 167);
$color-secondary-light: #90ffb5;
$color-secondary-dark: rgb(99, 164, 108);
$color-wood-1: rgb(199, 161, 108);
$color-wood-2: rgb(167, 125, 84);
$color-wood-3: rgb(122, 94, 66);
$color-text-primary: #fefefe;
$color-text-regular: #333;

//FONT FAMILY
$primary-font: 'Raleway', sans-serif;
$primary-2-font: 'Ubuntu', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$primary-3-font: 'Signika', sans-serif;
