@import '../theme/variables';
@import '../theme/mixins';
@import '../theme/animations';
@import '../theme/button';
@import '../theme/typography';

.header {
    display: grid;
    grid-template-columns: repeat(10, [col-start] 1fr [col-end]);
    grid-template-rows: min-content;
    overflow: hidden;
    position: relative;
    min-height: 100vh;

    @include respond(tab-land){
        min-height: 0px;
        margin-bottom: 10rem;
    }

    @include respond(tab-port) {
        overflow:visible;
    }

    &__navbar {
        display: block;
        position: relative;
        grid-column: 1 / -1;
    }

    &__video-container { 
        position: relative; 
        height: 40vw;
        width: 80vw;
        grid-column: 1 / -1;
        overflow: hidden;
        transform: translateX(7rem) skewX(-7deg);
        background-color: #fff;

        border-bottom-left-radius: 100px;
        border-top-right-radius: 100px;

        @include respond(phone){
            height: 70vw;
            width: 85vw;
            transform: translateX(0) skewX(-7deg);
            justify-self: center;
        }
    };

    &__video {
        opacity: .7;
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform: scale(1.05) skewX(7deg);
    }

    &__title-container {
        display: grid;
        grid-template-rows: repeat(2,1fr);
        position: absolute;
        bottom: 15rem;
        right: 10rem;
        z-index: 15;
        padding: 2rem 4rem 3rem 4rem;
        background-color: rgba($color-accent,.9);

        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        transform: translateX(7rem) skewX(-7deg);

        @include respond(tab-land){
            bottom: 5rem;
        }

        @include respond(tab-port){
            bottom: -5rem;
        }
    }

    &__title {
        font-family: 'Arial', open-sans;
        font-weight: 700;
        font-size: 7rem;
        display: block;
        letter-spacing: 5px;
        line-height: .9;
        text-transform: uppercase;
        color: #fff;

        transform: skewX(7deg);

        @include respond(tab-port){
            font-size: 5.5rem;
        }

        @include respond(phone){
            font-size: 3rem;
            line-height: 1.1;
        }
    }
    
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    background-color: #fff;
    padding: 4rem;
    justify-content: center;
    align-items: center;
    position: relative;

    .story {
        display: flex;
        align-items: center;
        padding: 3rem;
        height: 30rem;
        width: 60%;
        position: relative;
        z-index: 3;
        background-color: #fff;

        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        transform: translateX(7rem) skewX(-7deg);

        &__text {
            transform: skewX(7deg);

            @include respond(phone) {
                transform: skewX(0);
            }
        }

        button > span {
            transform: skewX(0);
        }

        @include respond(tab-port) {
            width: 85%;
            height: 40rem;
            transform: translateX(0) skewX(-7deg);
        }

        @include respond(phone) {
            width: 100%;
            margin-top: 20rem;
            border-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom-left-radius: 12px;
            transform: translateX(0) skewX(0);
        }
    }

    &__image-wrapper {
        display: block;
        position: absolute;
        overflow: hidden;
        z-index: 1;
        height: 35rem;
        width: 60rem;
        bottom: 30rem;
        right: 10%;

        border-top-right-radius: 100px;
        border-bottom-left-radius: 100px;
        transform: translateX(7rem) skewX(-7deg);
    }

    &__image {
        width: 100%;
        height: 100%;
        background-image: 
            linear-gradient(
                rgba(#fff, .8),
                rgba(#fff, .8)
            ),
            url('../assets/images/tea-owners.jpg');
        background-size: cover;
        background-position: 50% 50%;

        transform: scale(1.05) skewX(7deg);
    }
}

.footer {
    display: grid;
    grid-template-columns: 3fr repeat(4, min-content);
    grid-column-gap: 2rem;
    height: 6rem;
    width: 100%;
    background-color: $color-accent;
    align-content: center;
    padding: 2rem 3rem;

    &__copyright {
        color: #fff;
        font-family: $primary-2-font;
        font-size: 1.6rem;
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: #fff;
    }
}


