<header class="header">
  <app-teatop-navbar class="header__navbar u-margin-bottom-sm"></app-teatop-navbar>
  <div class="header__video-container">
    <video class="header__video" autoplay muted loop>
        <source src="src/assets/images/cafe-video.mp4" type="video/mp4">
        Your browser is not supported!
    </video>
  </div>
  <div class="header__title-container">
    <h2 class="header__title">TOP TEA</h2> 
    <h2 class="header__title">FROM TAIWAN</h2>
  </div>
</header>

<main class="body">
  <div class="story">
    <div class="story__text">
      <h3 class="story__title header-font header-font--orange u-margin-bottom-sm">Our Story</h3>
      <p class="story__paragraph p-font u-margin-bottom-sm">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo perferendis soluta laudantium architecto molestias provident ipsa neque quo optio, obcaecati labore, dolore aliquid officiis distinctio aliquam reiciendis nesciunt reprehenderit error.</p>
      <button class="btn btn--accent">
        <span>Learn more</span>
        <span>&rarr;</span>
      </button>
    </div>
  </div>
  <div class="body__image-wrapper">
    <div class="body__image"></div>
  </div>
</main>

<app-teatop-menu class="menu"></app-teatop-menu>

<footer class="footer">
  <p class="footer__copyright">&copy; 2018 Tea Top USA</p>
  <svg class="footer__icon">
      <use xlink:href="../assets/images/sprites.svg#icon-facebook2"></use>
  </svg>
  <svg class="footer__icon">
      <use xlink:href="../assets/images/sprites.svg#icon-twitter"></use>
  </svg>
  <svg class="footer__icon">
      <use xlink:href="../assets/images/sprites.svg#icon-instagram"></use>
  </svg>
  <svg class="footer__icon">
      <use xlink:href="../assets/images/sprites.svg#icon-mail"></use>
  </svg>
</footer>
  